*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #ae5555;
}

.start-btn,
.infobox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.listrules{
    width: 540px;
    background: #ffff;
    border-radius: 10px;
}

/* start button */
.start-btn button{
    font-size: 25px;
    font-weight: 550px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding: 15px 30px;
    outline: none;
    box-shadow: 5px 1px 10px 1px;
    border-radius: 20px;
    cursor: pointer;
}

.infobox{
    display: none; /* change later */
    width: 500px;
    background: #fff;
    border-radius: 10px;
}    

.infobox .howtoplay{
    height: 60px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600px;
}

.infobox .listrules{
    padding: 15px 35px;
}

.infobox .listrules .rule{
    margin: 5px 0;
    font-size: 17px;
}

.infobox .howtoplay span{
    font-weight: 600;
    color: #000000;
    text-align: center;
    justify-content: center;
}

.infobox .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.infobox .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #0469d5;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease;
}

/* quit & reset buttons */
.buttons button.reset{
    color: #0469d5;
}

.buttons button.reset:hover{
    color: #fff;
    background: #0469d5;
}

.buttons button.exit{
    color: #0469d5;
}

.buttons button.exit:hover{
    color: #fff;
    background: #0469d5;
}
