* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #ffffff;
    min-height: 100vh;
}

h4 {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: wavy;
    padding: 3rem;
}

.testyourmight h4.hidden{
    display: none;
}


.javascript-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 10px;
}

.timer {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1rem; /* Adjust margin for the timer */
    align-self: flex-end;
}

.countdown {
    display: flex;
    flex-direction: column;
}

.minute,
.seconds,
.mseconds {
    font-size: 2rem; /* Adjust text size for timer */
}

/* infobox & rules styling */
.start-btn,
.infobox {
    position: relative;
    margin: 1rem 0;
}

.listrules,
.infobox {
    width: 100%; 
    max-width: 500px; 
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
}

.infobox .howtoplay {
    height: auto;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.infobox .listrules {
    padding: 4rem;
}

.infobox .listrules .rule {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.infobox .howtoplay span {
    font-weight: 600;
    color: #000000;
}

.infobox .buttons {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid lightgrey;
}

.infobox .buttons button {
    margin: 0.5rem;
    height: 40px;
    width: 100px;
    border: 1px solid #0469d5;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease;
}

.quizbox {
    font-weight: 600;
    color: #000000;
    text-align: center;
    justify-content: center;
}

/* start, quit & reset buttons */
.buttons button.start {
    color: #0469d5;
}

.buttons button.start:hover {
    color: #fff;
    background: #0469d5;
}

.buttons button.reset {
    color: #0469d5;
}

.buttons button.reset:hover {
    color: #fff;
    background: #0469d5;
}

.buttons button.exit {
    color: #0469d5;
}

.buttons button.exit:hover {
    color: #fff;
    background: #0469d5;
}

/* media queries */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Adjust text size for headers on smaller screens */
    }

    .timer {
        align-self: center; /* Center the timer on smaller screens */
        margin-top: 1rem; /* Adjust margin for the timer on smaller screens */
    }

    .countdown {
        align-items: center;
    }

    .minute,
    .seconds,
    .mseconds {
        font-size: 1.5rem; /* Adjust text size for timer on smaller screens */
    }

    .infobox .howtoplay {
        font-size: 1.2rem;
    }

    .infobox .listrules .rule {
        font-size: 1rem;
    }

    .infobox .buttons button {
        height: 30px;
        font-size: 0.8rem;
    }
}
