*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem;
    justify-content: top;
    align-items: center;
}

.javascript-quiz {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* add image?? */
}

.container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
}

.timer{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: top;
    margin-bottom: 30%;
}

.minute,
.seconds,
.mseconds {
    font-size: 1rem;
}

/* infobox & rules styling */
.start-btn,
.infobox{
    position: fixed;  /* flex applies to children via parent element, not child itself */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.listrules{
    width: 500px;
    background: #ffff;
    border-radius: 10px;
}

.infobox{
    width: 500px;
    background: #fff;
    border-radius: 10px;
} 

.infobox .howtoplay{
    height: 60px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600px;
}

.infobox .listrules{
    padding: 15px 35px;
}

.infobox .listrules .rule{
    margin: 5px 0;
    font-size: 17px;
}

.infobox .howtoplay span{
    font-weight: 600;
    color: #000000;
    text-align: center;
    justify-content: center;
}

.infobox .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.infobox .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #0469d5;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease;
}

.quizbox {
    font-weight: 600;
    color: #000000;
    text-align: center;
    justify-content: center;
}

/* start, quit & reset buttons */
.buttons button.start{
    color: #0469d5;
}

.buttons button.start:hover{
    color: #fff;
    background: #0469d5;
}

.buttons button.reset{
    color: #0469d5;
}

.buttons button.reset:hover{
    color: #fff;
    background: #0469d5;
}

.buttons button.exit{
    color: #0469d5;
}

.buttons button.exit:hover{
    color: #fff;
    background: #0469d5;
}

/* media queries */
@media only screen and (max-width: 768px) {
    body {
        background-color: #8f8f8f;
    }
}